<div class="container">
  <div class="card-header">
    <h1>HOSPITAL MANAGEMENT</h1>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img src="assets/picture/R (4).jpg" alt="John" style="width:100%">
        </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <img src="assets/picture/OIP (3).jpg" alt="John" style="width:100%">
        </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <img src="assets/picture/R (1).jpg" alt="John" style="width:100%">
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img src="assets/picture/hospital-beds-001.jpg" alt="John" style="width:100%">
        </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <img src="assets/picture/OIP (2).jpg" alt="John" style="width:100%">
        </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <img src="assets/picture/R.jpg" alt="John" style="width:100%">
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img src="assets/picture/R (3).jpg" alt="John" style="width:100%">
        </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <img src="assets/picture/OIP (5).jpg" alt="John" style="width:100%">
        </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <img src="assets/picture/OIP (6).jpg" alt="John" style="width:100%">
        </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
  
