<div class="container">
    <div class="row">
        <div class="col">
            <div class="card" style="background-color:grey;">
                <div class="card-header">
                    <H2 class="text-center">LOGIN SYSTEM</H2>
                </div>
                <div class="card-body">
                    <form action="">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="enter_username">
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="enter_password">
                                </div>
                            </div>                         
                            </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <button class="btn btn-primary btn-block">login</button>
                                    </div>
                                </div>
                    </form>
                </div>
            </div>
        </div>
<router-outlet></router-outlet>