<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card" style="background-color: grey;">
                <div class="card-header">
                    <H2 class="text-center">DOCTOR FORM</H2>
                </div>
                <div class="card-body">
                    <form action="">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="doctor_first_name">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="second_name">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <input type="text"class="form-control" placeholder="last_name">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <select name="" id="" class="form-control">
                                        <option value=""[selected]="" >----name_of_tablets----</option>
                                        <option value="">diclofenac</option>
                                        <option value="">aspirin</option>
                                        <option value="">strepsils</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <input class="form-control" type="date" name="" id="">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="how_to_use_medication">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="dose">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="phone_number">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="possible_side _effects">
                                </div>
                                </div>
                                <button class="btn btn-primary">submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>